<h2>History</h2>

<h3>Officers</h3>

<% if @cr %>
<p>
For older records, check your <%= link_to @cr.name, project_issues_path(@project, :query_id => @cr.id) %>
</p>
<% end %>

<%= form_tag({ controller: 'history', action: 'index', id: @project }, method: 'get') do %>
<p>
Filter: <%= select_tag "role", options_from_collection_for_select(@roles, "id", "name", @selected_role), include_blank: true -%>
<%= submit_tag l(:button_apply), :class => "small", :search => nil %>
<%= link_to l(:button_clear), { controller: 'history', action: 'index', id: @project }, :class => 'icon icon-reload' %>
</p>
<% end %>

<div class="autoscroll">
<table class="list fraternity_members">
  <thead><tr>
  <%= sort_header_tag('added_on', :caption => 'From') %>
  <%= sort_header_tag('removed_on', :caption => 'To') %>
  <%= sort_header_tag('role_id', :caption => 'Role') %>
  <%= sort_header_tag('user_id', :caption => 'User') %>
  <th></th>
  </tr></thead>
  <tbody>
<% for hr in @historical_roles -%>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= h(hr.added_on) %></td>
    <td><%= h(hr.removed_on) %></td>
    <td><%= h(Role.find(hr.role_id)) %></td>
    <td><%= h(link_to User.find(hr.user_id), User.find(hr.user_id)) %></td>
    <td><%= link_to l(:button_delete), historical_role_path(hr), :data => {:confirm => "Are your sure?"}, :method => :delete, :class => 'icon icon-del' if User.current.allowed_to?(:delete_history_records, @project) %></td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>
<span class="pagination"><%= pagination_links_full @role_pages, @role_count, :per_page_links => false %></span>
