<h2>New Membership - <%= @email_group.address %></h2>

<%= labelled_form_for([@email_group, @email_group.email_group_memberships.build]) do |f| %>
  <%= error_messages_for 'email_group_membership' %>

<div class='box tabular'>
  <p>
    <%= f.select :include_project_id, projects_list, { required: false, selected: nil, include_blank: true } unless projects_list.empty? %>
  </p>
  <p>
    <%= f.select :include_project_children, {'Yes' => true, 'No' => false}, { required: false, selected: false, include_blank: false } %>
  </p>
  <p>
    <%= f.select :include_role_id, { 'All Roles' => 0 }.merge(roles_list), { required: false, selected: nil, include_blank: true } unless roles_list.empty? %>
  </p>
  <p>
    <% list = email_groups_list %>
    <% list.delete(@email_group.address) %>
    <%= f.select :include_email_group_id, list, { required: false, selected: nil, include_blank: true } if list.count > 0 %>
  </p>
  <p>
    <%= f.select :exclude_project_id, projects_list, { required: false, selected: nil, include_blank: true } unless projects_list.empty? %>
  </p>
  <p>
    <%= f.select :exclude_role_id, roles_list, { required: false, selected: nil, include_blank: true } unless roles_list.empty? %>
  </p>

</div>
  
  <p>
    <%= f.submit l(:button_submit) %>
  </p>
<% end %>
