<div class="contextual">

<% if params[:date].present? %>
  <%= link_to 'Export to CSV', :controller => 'budget_actuals', :action => 'export', :params => params[:date], :class => 'icon' %> |
<% else %>
  <%= link_to 'Export to CSV', :controller => 'budget_actuals', :action => 'export', :class => 'icon'  %> |
<% end %>

<%= link_to 'New Budget', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 19, :class => 'icon' %> |
<%= link_to 'New Deposit', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 26, :class => 'icon' %> |
<%= link_to 'New Expense', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 22, :class => 'icon' %> |

<% if @latestBudget.nil? then -%>
  (No budget) |
<% else -%>
  <%= link_to 'View Budget', :controller => 'issues', :action => 'show', :id => @latestBudget.id, :class => 'icon' %> |
<% end -%>

<%= link_to 'View Deposits', :controller => 'deposits', :action => 'index', :class => 'icon' %>

</div>

