<% totalRevenue = [0,0,0,0,0,0,0,0,0,0,0,0] -%>
<% totalExpenses = [0,0,0,0,0,0,0,0,0,0,0,0] -%>

<p>
<% if @latestBudget.nil? then -%>
  (No current budget available) | 
<% else -%>
  <%= link_to 'View Latest Budget', :controller => 'issues', :action => 'show', :id => @latestBudget.id %> | 
<% end -%>
<%= link_to 'Upload New Budget', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 19 %> | 
<%= link_to 'Download the Budget Template', :controller => 'wiki', :action => 'show', :project_id => Project.find(6), :id => 'Downloads' %>
</p>
<p>
<%= link_to 'List All Deposits', :controller => 'deposits', :action => 'index' %> |
<%= link_to 'Report a New Deposit', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 26 %> | 
<%= link_to 'Report a New Expense', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 22 %> |
<a href="https://chaseonline.chase.com" target="_blank">Chase Online Banking</a>
</p>

<p>
<h1>Actual Revenue</h1>

<% if !@annualRevenue.empty? -%>

<table class="budget">
  <thead><tr>
  <th>Account</th>
  <% for j in 0..11 -%>
    <% i = 11 - j -%>
    <th class="<%= 'budget_mobile' if i > 2 %>">

      <%= link_to @dateStrings[i], :controller => 'deposits', :action => 'index' %>

    </th>
  <% end -%>
  </tr></thead>
  <tbody>
<% for c in @annualRevenue -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td style="text-align: left">

      <%= link_to_project_deposit_issues_by_account(@project, c[0], c[1][12]) %>

    </td>
    <% for j in 0..11 -%>
      <% i = 11 - j -%>
      <td class="<%= 'budget_mobile' if i > 2 %>" style="text-align: right">
        <% if c[1][i].to_f > 0 %>
          <%= number_to_currency(c[1][i].to_f.round, :precision => 0, :format => '%n', negative_format: '(%n)') %>
        <% else %>
          -
        <% end %>
      </td>
      <% totalRevenue[i] = totalRevenue[i].to_f + c[1][i].to_f -%>
    <% end -%>
  </tr>
<% end -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td style="text-align: left"><strong>Total Revenue</strong></td>
      <% for j in 0..11 -%>
        <% i = 11 - j -%>
      <td class="<%= 'budget_mobile' if i > 2 %>" style="text-align: right">
        <strong><%= number_to_currency(totalRevenue[i].round, :precision => 0, :format => '%u%n', negative_format: '(%u%n)') %></strong>
      </td>
    <% end -%>
  </tr>
  </tbody>
</table>

<% else -%>
  (no revenue reported yet)
<% end -%>

<p>
<h1>Actual Expenses</h1>

<% if !@annualExpenses.empty? -%>

<table class="budget">
  <thead><tr>
  <th>Account</th>
  <% for j in 0..11 -%>
    <% i = 11 - j -%>
    <th class="<%= 'budget_mobile' if i > 2 %>">

      <%= link_to @dateStrings[i], project_issues_path(@project, :set_filter => 1,
        :f=>[:status_id, :tracker_id, :cf_28, ""],
        :op=>{:status_id=>"*", :tracker_id=>"=", :cf_28=>"><"},
        :v=>{:tracker_id=>["22"], :cf_28=>[@dates[i].beginning_of_month, @dates[i].end_of_month]},
        :c => [:cf_27,:tracker,:cf_98,:cf_31,:cf_28,:cf_26,:status,:cf_93,:subject,:assigned_to]
        ) %>

    </th>
  <% end -%>
  </tr></thead>
  <tbody>
<% for c in @annualExpenses -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td style="text-align: left">

      <%= link_to c[0], project_issues_path(@project, :set_filter => 1,
      :tracker_id => 22,
      :status_id => '*',
      :cf_98 => c[0],
      :c => [:cf_27,:tracker,:cf_98,:cf_31,:cf_28,:cf_26,:status,:cf_93,:subject,:assigned_to]
      ) %>

    </td>
    <% for j in 0..11 -%>
      <% i = 11 - j -%>
      <td class="<%= 'budget_mobile' if i > 2 %>" style="text-align: right">
        <% if c[1][i].to_f > 0 %>
          <%= number_to_currency(c[1][i].to_f.round, :precision => 0, :format => '%n', negative_format: '(%n)') %>
        <% else %>
          -
        <% end %>
      </td>
      <% totalExpenses[i] = totalExpenses[i].to_f + c[1][i].to_f -%>
    <% end -%>
  </tr>
<% end -%>
  <tr class="<%= cycle("odd", "even") %>">
  	<td style="text-align: left"><strong>Total Expenses</strong></td>
      <% for j in 0..11 -%>
        <% i = 11 - j -%>
      <td class="<%= 'budget_mobile' if i > 2 %>" style="text-align: right">
        <strong><%= number_to_currency(totalExpenses[i].round, :precision => 0, :format => '%u%n', negative_format: '(%u%n)') %></strong>
      </td>
    <% end -%>
  </tr>
  </tbody>
</table>
</p>

<p>
<h1>Net Cash Flow</h1>

<table class="budget">
  <thead><tr>
  <th></th>
  <% for j in 0..11 -%>
    <% i = 11 - j -%>
    <th class="<%= 'budget_mobile' if i > 2 %>"><%= @dateStrings[i] %></th>
  <% end -%>
  </tr></thead>
  <tbody>
  <tr class="<%= cycle("odd", "even") %>">
    <td style="text-align: left">Net Cash Flow</td>
    <% for j in 0..11 -%>
      <% i = 11 - j -%>
      <td class="<%= 'budget_mobile' if i > 2 %>" style="text-align: right">
        <strong><%= number_to_currency((totalRevenue[i] - totalExpenses[i]).round, :precision => 0, :format => '%u%n', negative_format: '(%u%n)') %></strong>
      </td>
    <% end -%>
  </tr>
  </tbody>
</table>

<% else -%>
  (no expenses reported yet)
<% end -%>

</p>

<p align="right">
  <%= link_to 'Export Actuals to CSV', :controller => 'budget_actuals', :action => 'export' %>
</p>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'redmine_fraternity_members' %>
<% end %>