<table style="width:450px" class="list">
  <thead><tr>
  <th>Category</th>
  <th><%= @date1String %></th>
  <th><%= @date2String %></th>
  <th><%= @date3String %></th>
  </tr></thead>
  <tbody>

<% totalDate1 = 0 -%>
<% totalDate2 = 0 -%>
<% totalDate3 = 0 -%>

<% for c in @quarterExpenses -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td width=250 style="text-align: left"><strong><%= c.first %></strong></td>
    <td><%= number_with_delimiter(c.second.first.round, :delimiter => ',') %></td>
    <td><%= number_with_delimiter(c.second.second.round, :delimiter => ',') %></td>
    <td><%= number_with_delimiter(c.second.third.round, :delimiter => ',') %></td>
  </tr>

  <% totalDate1 = totalDate1 + c.second.first -%>
  <% totalDate2 = totalDate2 + c.second.second -%>
  <% totalDate3 = totalDate3 + c.second.third -%>

<% end -%>

  <tr class="<%= cycle("odd", "even") %>">
  	<td width=250 style="text-align: left"><strong>Total</strong></td>
    <td><strong><%= number_with_delimiter(totalDate1.round, :delimiter => ',') %></strong></td>
    <td><strong><%= number_with_delimiter(totalDate2.round, :delimiter => ',') %></strong></td>
    <td><strong><%= number_with_delimiter(totalDate3.round, :delimiter => ',') %></strong></td>
  </tr>
  </tbody>
</table>
