<p>
<% if @latestBudget.nil? then -%>
  (No current budget available) | 
<% else -%>
  <%= link_to 'View Latest Budget', :controller => 'issues', :action => 'show', :id => @latestBudget.id %> | 
<% end -%>
<%= link_to 'Upload New Budget', :controller => 'issues', :action => 'new', :project_id => @project.name %>
</p>

<p>
<h2>Actual Revenue</h2>

<table class="list">
  <thead><tr>
  <th></th>
  <% for j in 0..11 -%>
    <% i = 11 - j -%>
    <th><%= @dateStrings[i] %></th>
  <% end -%>
  </tr></thead>
  <tbody>
  <tr class="<%= cycle("odd", "even") %>">
    <td width=250 style="text-align: left"><strong>Total Deposits</strong></td>
    <% for j in 0..11 -%>
      <% i = 11 - j -%>
      <td><strong><%= number_with_delimiter(@annualDeposits[i].to_f.round, :delimiter => ',') %></strong></td>
    <% end -%>
  </tr>
  </tbody>
</table>
</p>

<p>
<h2>Actual Expenses</h2>

<table class="list">
  <thead><tr>
  <th>Budget Category</th>
  <% for j in 0..11 -%>
    <% i = 11 - j -%>
    <th><%= @dateStrings[i] %></th>
  <% end -%>
  </tr></thead>
  <tbody>
<% totalExpenses = [] -%>
<% for c in @annualExpenses -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td width=250 style="text-align: left"><strong><%= c.first %></strong></td>
    <% for j in 0..11 -%>
      <% i = 11 - j -%>
      <td><%= number_with_delimiter(c.second[i].to_f.round, :delimiter => ',') %></td>
      <% totalExpenses[i] = totalExpenses[i].to_f + c.second[i].to_f -%>
    <% end -%>
  </tr>
<% end -%>
  <tr class="<%= cycle("odd", "even") %>">
  	<td width=250 style="text-align: left"><strong>Total</strong></td>
      <% for j in 0..11 -%>
        <% i = 11 - j -%>
      <td><strong><%= number_with_delimiter(totalExpenses[i].round, :delimiter => ',') %></strong></td>
    <% end -%>
  </tr>
  </tbody>
</table>
</p>

<p>
<h2>Net Cash Flow</h2>

<table class="list">
  <thead><tr>
  <th></th>
  <% for j in 0..11 -%>
    <% i = 11 - j -%>
    <th><%= @dateStrings[i] %></th>
  <% end -%>
  </tr></thead>
  <tbody>
  <tr class="<%= cycle("odd", "even") %>">
    <td width=250 style="text-align: left"><strong>Net Cash Flow</strong></td>
    <% for j in 0..11 -%>
      <% i = 11 - j -%>
      <td><strong><%= number_with_delimiter((@annualDeposits[i].to_f.round - totalExpenses[i].round), :delimiter => ',') %></strong></td>
    <% end -%>
  </tr>
  </tbody>
</table>
</p>