<h2>Shingles</h2>


<p>
<%= button_to 'Print all open shingle orders (old)', { :controller => 'shingle', :action => 'shingles_export_pdf' }, :method => 'get' %>
</p>

<p>
<%= button_to 'Print all open shingle orders (new)', { :controller => 'shingle', :action => 'new_shingles_export_pdf' }, :method => 'get' %>
</p>

<p>
<%= button_to 'Print packing lists', { :controller => 'shingle', :action => 'invoices_export_pdf' }, :method => 'get' %>
</p>

<p>
<%= button_to 'Mark all as shipped', { :controller => 'shingle', :action => 'mark_all_as_shipped' }, :method => 'get' %>
</p>

<p>
<%= link_to 'View shipped shingles', project_issues_path(Project.find(6), :set_filter => 1, :tracker_id => 30, :status_id => 'c') %>
</p>

<h3>Open shingle orders</h3>
<%= render :partial => 'shingle_list', :locals => { :issues => @shingles } %>
