<h3>General</h3>

<table>
  <tbody>
    <tr>
      <td><strong>Fraternity Password:</strong></td>
      <td>
        <%= text_field_tag "settings[fraternity_password]", settings['fraternity_password'] %>
      </td>
    </tr>
    <tr>
      <td><strong>Colony Password:</strong></td>
      <td>
        <%= text_field_tag "settings[colony_password]", settings['colony_password'] %>
      </td>
    </tr>
    <tr>
      <td><strong>Google Apps Admin:</strong><br>
        Enter the ago.org email address<br>
        of a Google Apps Super Admin:
      </td>
      <td>
        <%= text_field_tag "settings[google_admin_email]", settings['google_admin_email'] %>
      </td>
    </tr>
    <tr>
      <td><strong>Google Apps Customer ID:</strong></td>
      <td>
        <%= text_field_tag "settings[google_customer_id]", settings['google_customer_id'] %>
      </td>
    </tr>
    <tr>
      <td><strong>Mint.com username:</strong></td>
      <td>
        <%= text_field_tag "settings[mint_user]", settings['mint_user'] %>
      </td>
    </tr>
    <tr>
      <td><strong>Mint.com password:</strong></td>
      <td>
        <%= text_field_tag "settings[mint_pw]", settings['mint_pw'] %>
      </td>
    </tr>
  </tbody>
</table>
