<% settings['email_addresses'] = {} if settings['email_addresses'].nil? %>

<% settings['email_addresses']['National Council'] = '' if settings['email_addresses']['National Council'].nil? %>
<% settings['email_addresses']['National Exec'] = '' if settings['email_addresses']['National Exec'].nil? %>


<% settings['email_addresses']['National President'] = '' if settings['email_addresses']['National President'].nil? %>
<% settings['email_addresses']['VP Collegiate Chapters'] = '' if settings['email_addresses']['VP Collegiate Chapters'].nil? %>
<% settings['email_addresses']['VP Alumni'] = '' if settings['email_addresses']['VP Alumni'].nil? %>
<% settings['email_addresses']['National Chaplain'] = '' if settings['email_addresses']['National Chaplain'].nil? %>
<% settings['email_addresses']['National Treasurer'] = '' if settings['email_addresses']['National Treasurer'].nil? %>
<% settings['email_addresses']['National Secretary'] = '' if settings['email_addresses']['National Secretary'].nil? %>

<% settings['email_addresses']['DC North'] = '' if settings['email_addresses']['DC North'].nil? %>
<% settings['email_addresses']['DC South'] = '' if settings['email_addresses']['DC South'].nil? %>
<% settings['email_addresses']['DC Central'] = '' if settings['email_addresses']['DC Central'].nil? %>
<% settings['email_addresses']['DC Mountain'] = '' if settings['email_addresses']['DC Mountain'].nil? %>
<% settings['email_addresses']['Accountant'] = '' if settings['email_addresses']['Accountant'].nil? %>

<% settings['email_addresses']['AGOm'] = '' if settings['email_addresses']['AGOm'].nil? %>
<% settings['email_addresses']['AAI'] = '' if settings['email_addresses']['AAI'].nil? %>
<% settings['email_addresses']['Beta Housing Board'] = '' if settings['email_addresses']['Beta Housing Board'].nil? %>
<% settings['email_addresses']['Legion of Honor'] = '' if settings['email_addresses']['Legion of Honor'].nil? %>
<% settings['email_addresses']['AGODelphian Editors'] = '' if settings['email_addresses']['AGODelphian Editors'].nil? %>
<% settings['email_addresses']['Chapter Advisors'] = '' if settings['email_addresses']['Chapter Advisors'].nil? %>
<% settings['email_addresses']['All Alumni Leaders'] = '' if settings['email_addresses']['All Alumni Leaders'].nil? %>
<% settings['email_addresses']['All Presidents'] = '' if settings['email_addresses']['All Presidents'].nil? %>
<% settings['email_addresses']['All Vice Presidents'] = '' if settings['email_addresses']['All Vice Presidents'].nil? %>
<% settings['email_addresses']['All Chaplains'] = '' if settings['email_addresses']['All Chaplains'].nil? %>
<% settings['email_addresses']['All Pledgemasters'] = '' if settings['email_addresses']['All Pledgemasters'].nil? %>
<% settings['email_addresses']['All Treasurers'] = '' if settings['email_addresses']['All Treasurers'].nil? %>
<% settings['email_addresses']['All House Managers'] = '' if settings['email_addresses']['All House Managers'].nil? %>
<% settings['email_addresses']['All Secretaries'] = '' if settings['email_addresses']['All Secretaries'].nil? %>
<% settings['email_addresses']['All Social Media Managers'] = '' if settings['email_addresses']['All Social Media Managers'].nil? %>
<% settings['email_addresses']['All Chapter Execs'] = '' if settings['email_addresses']['All Chapter Execs'].nil? %>
<% settings['email_addresses']['All Actives'] = '' if settings['email_addresses']['All Actives'].nil? %>
<% settings['email_addresses']['Everyone'] = '' if settings['email_addresses']['Everyone'].nil? %>

<% chapters = Project.where(:parent_id => 6).sort %>

<% for c in chapters %>
	<% settings[c.identifier + '_email_addresses'] = {} if settings[c.identifier + '_email_addresses'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Actives'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Actives'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Exec'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Exec'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Advisors'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Advisors'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' President'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' President'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Vice President'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Vice President'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Chaplain'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Chaplain'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Pledgemaster'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Pledgemaster'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Treasurer'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Treasurer'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' House Manager'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' House Manager'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Secretary'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Secretary'].nil? %>
	<% settings[c.identifier + '_email_addresses'][c.name + ' Social Media'] = '' if settings[c.identifier + '_email_addresses'][c.name + ' Social Media'].nil? %>
<% end %>

<h3>General</h3>

<table>
  <tbody>
    <tr>
      <td><strong>Fraternity Password:</strong></td>
      <td>
      	<%= text_field_tag "settings[fraternity_password]", settings['fraternity_password'] %>
      </td>
    </tr>
    <tr>
      <td><strong>Google Apps Admin:</strong><br>
      	Enter the ago.org email address<br>
      	of a Google Apps Super Admin:
      </td>
      <td>
      	
      	<%= text_field_tag "settings[google_admin_email]", settings['google_admin_email'] %>
      </td>
    </tr>
  </tbody>
</table>

<h3>Google Apps Email Groups</h3>

<table style="width: 400px" class="list">
	<thead><tr>
	<th>Group</th>
	<th>Email Address</th>
	</tr></thead>
	<tbody>
<% for e in settings['email_addresses'] %>
	<tr class="<%= cycle("odd", "even") %>">
		<td style="text-align: left">
			<%= e[0] %>
		</td>
		<td style="text-align: left">
			<%= text_field_tag "settings[email_addresses["+e[0]+"]", settings['email_addresses'][e[0]] %>
		</td>
	</tr>
<% end %>
  </tbody>
</table>

<% for c in chapters %>
	<h4><%= c.name %></h4>

	<table style="width: 400px" class="list">
		<thead><tr>
		<th>Group</th>
		<th>Email Address</th>
		</tr></thead>
		<tbody>
	<% for e in settings[c.identifier + '_email_addresses'] %>
		<tr class="<%= cycle("odd", "even") %>">
			<td style="text-align: left">
				<%= e[0] %>
			</td>
			<td style="text-align: left">
				<%= text_field_tag "settings["+c.identifier+"_email_addresses["+e[0]+"]", settings[c.identifier + '_email_addresses'][e[0]] %>
			</td>
		</tr>
	<% end %>
	  </tbody>
	</table>
<% end %>