<h2><%= l(:label_home) %></h2>

<div class="splitcontentleft">
  <% project = Project.find(6) %>
  <% page = project.wiki.find_page('Wiki') %>
  <% content = page.content %>
  <%= textilizable Setting.welcome_text %>

  <div class="box">
    <% if User.current.allowed_to?({:controller => 'wiki', :action => 'edit'}, project) %>
    <div class="contextual">
      <%= link_to(l(:button_edit), {:action => 'edit', :controller => 'wiki', :project_id => project.identifier, :id => page.title}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
    </div>
    <% end %>
    <%= render(:partial => "wiki/content", :locals => {:content => content}) %>
  </div>
</div>

<div class="splitcontentright">
  <div class="projects box">
  <h3><%="Alpha Gamma Omega"%></h3>
  <% @home_projects = Project.visible %>
  <%= link_to_project @home_projects.find(6) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 6).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %> - <%= home_project.short_description.truncate(100) %>
      </li>
    <% end %>
    </ul>

  <%= link_to_project @home_projects.find(36) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 36).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>
  
  <%= link_to_project @home_projects.find(50) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 50).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      <% unless User.current.member_of? home_project %>
        - <%= link_to 'Join', {:controller => 'fraternity_members', :action => 'join_group', :project => home_project, :user => User.current, :role_id => 23} %>
      <% end %>
      </li>
    <% end %>
    </ul>

  <%= link_to_project @home_projects.find(29) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 29).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>

  <%= link_to_project @home_projects.find(1) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 1).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>

  </div>
    <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
