<h2><%= l(:label_home) %></h2>

<div class="splitcontentleft">
  <% project = Project.find(6) %>
  <%= textilizable Setting.welcome_text %>
  <div class="box">
    <h3>Manuals</h3>
    <ul>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki">National Wiki</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Whole_Armor">Whole Armor</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_President">Officer Manual - President</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_Vice_President">Officer Manual - Vice President</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_Chaplain">Officer Manual - Chaplain</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_Pledgemaster">Officer Manual - Pledgemaster</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_Treasurer">Officer Manual - Treasurer</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_House_Manager">Officer Manual - House Manager</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Officer_Manual_-_Secretary">Officer Manual - Secretary</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Appointed_Officer_Manuals">Appointed Officer Manuals</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Active_Manual">Active Manual</a></li>
      <li><a href="https://ago.org/redmine/projects/chapters/wiki/Chapter_Advisor_Manual">Chapter Advisor Manual</a></li>
    </ul>
  </div>
</div>

<div class="splitcontentright">
    <% if @projects.any? %>
  <div class="projects box">
  <h3><%="Alpha Gamma Omega"%></h3>
  <% @home_projects = Project.visible %>
  <%= link_to_project @home_projects.find(6) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 6).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %> - <%= home_project.short_description.truncate(100) %>
      </li>
    <% end %>
    </ul>

  <%= link_to_project @home_projects.find(36) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 36).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>
  
  <%= link_to_project @home_projects.find(50) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 50).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>

  <%= link_to_project @home_projects.find(29) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 29).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>

  <%= link_to_project @home_projects.find(1) %>
    <ul>
    <% for home_project in @home_projects.where(parent_id: 1).sort_by{|p| p.name.downcase} %>
      <li>
      <%= link_to_project home_project %>
      </li>
    <% end %>
    </ul>

  </div>
  <% end %>
    <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>