<h2>Email Groups</h2>

<table style="width: 400px" class="list">
	<thead><tr>
	<th>Group</th>
	<th>Email Address</th>
	</tr></thead>
	<tbody>
<% for e in Setting.plugin_redmine_fraternity_members['email_addresses'] %>
	<tr class="<%= cycle("odd", "even") %>">
		<td style="text-align: left">
			<%= e[0] %>
		</td>
		<td style="text-align: left">
			<%= mail_to(Setting.plugin_redmine_fraternity_members['email_addresses'][e[0]],
				Setting.plugin_redmine_fraternity_members['email_addresses'][e[0]],
				:encode => 'javascript') %>
		</td>
	</tr>
<% end %>
  </tbody>
</table>

<% for c in @chapters %>
	<h3><%= c.name %></h3>

	<table style="width: 400px" class="list">
		<thead><tr>
		<th>Group</th>
		<th>Email Address</th>
		</tr></thead>
		<tbody>
	<% for e in Setting.plugin_redmine_fraternity_members[c.identifier + '_email_addresses'] %>
		<tr class="<%= cycle("odd", "even") %>">
			<td style="text-align: left">
				<%= e[0] %>
			</td>
			<td style="text-align: left">
				<%= mail_to(Setting.plugin_redmine_fraternity_members[c.identifier + '_email_addresses'][e[0]],
					Setting.plugin_redmine_fraternity_members[c.identifier + '_email_addresses'][e[0]],
					:encode => 'javascript') %>
				<%=  %>
			</td>
		</tr>
	<% end %>
	  </tbody>
	</table>
<% end %>