<p>Click a group name to view the current members of the group. To change email group memberships, <%= link_to 'update the appropriate Project roles.', :controller => 'wiki', :action => 'show', :project_id => 'national', :id => 'Manage_Chapter_Roles' %> Email groups will be automatically synchronized nightly.</p>

<table class="email_groups">
	<thead><tr>
	<th>Group</th>
	<th>Email Address</th>
	</tr></thead>
	<tbody>
<% for e in Setting.plugin_redmine_fraternity_members['email_addresses'] %>
	<tr class="<%= cycle("odd", "even") %>">
		<td style="text-align: left">
			<%= link_to e[0], :controller => 'email_groups', :action => 'show', :group => e[0] %>
		</td>
		<td style="text-align: left">
			<%= mail_to(Setting.plugin_redmine_fraternity_members['email_addresses'][e[0]],
				Setting.plugin_redmine_fraternity_members['email_addresses'][e[0]],
				:encode => 'javascript') %>
		</td>
	</tr>
<% end %>
  </tbody>
</table>

<h1>Alumni Organizations</h1>

<table class="email_groups">
	<thead><tr>
	<th>Group</th>
	<th>Email Address</th>
	</tr></thead>
	<tbody>
<% for c in @alumni_orgs %>
	<tr class="<%= cycle("odd", "even") %>">
		<td style="text-align: left">
			<%= link_to c.name, :controller => 'email_groups', :action => 'show', :chapter => c, :group => c.name %>
		</td>
		<td style="text-align: left">
			<%= mail_to(Setting.plugin_redmine_fraternity_members['ao_email_addresses'][c.identifier], Setting.plugin_redmine_fraternity_members['ao_email_addresses'][c.identifier], :encode => 'javascript') %>
		</td>
	</tr>
<% end %>
  </tbody>
</table>

<% for c in @chapters %>
	<h1><%= c.name %></h1>

	<table class="email_groups">
		<thead><tr>
		<th>Group</th>
		<th>Email Address</th>
		</tr></thead>
		<tbody>
	<% for e in Setting.plugin_redmine_fraternity_members[c.identifier + '_email_addresses'] %>
		<tr class="<%= cycle("odd", "even") %>">
			<td style="text-align: left">
				<%= link_to e[0], :controller => 'email_groups', :action => 'show',
				:chapter => c,
				:group => e[0] %>
			</td>
			<td style="text-align: left">
				<%= mail_to(Setting.plugin_redmine_fraternity_members[c.identifier + '_email_addresses'][e[0]],
					Setting.plugin_redmine_fraternity_members[c.identifier + '_email_addresses'][e[0]],
					:encode => 'javascript') %>
			</td>
		</tr>
	<% end %>
	  </tbody>
	</table>
<% end %>

<h1>Alumni Chapters</h1>

<table class="email_groups">
	<thead><tr>
	<th>Group</th>
	<th>Email Address</th>
	</tr></thead>
	<tbody>
<% for c in @alumni_chapters %>
	<tr class="<%= cycle("odd", "even") %>">
		<td style="text-align: left">
			<%= link_to c.name, :controller => 'email_groups', :action => 'show', :chapter => c, :group => c.name %>
		</td>
		<td style="text-align: left">
			<%= mail_to(Setting.plugin_redmine_fraternity_members['ac_email_addresses'][c.identifier], Setting.plugin_redmine_fraternity_members['ac_email_addresses'][c.identifier], :encode => 'javascript') %>
		</td>
	</tr>
<% end %>
  </tbody>
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'email_groups', :plugin => 'redmine_fraternity_members' %>
<% end %>
