<h2>Google Group Members: <%= @group %></h2>
<h3>
	<%= mail_to(@email, @email, :encode => 'javascript') %>
</h3>

<table class="email_groups">
	<thead><tr>
	<th>User</th>
	<th>Email</th>
	</tr></thead>
	<tbody>
<% for m in @members %>
	<tr class="<%= cycle("odd", "even") %>">
		<td style="text-align: left">
			<%= link_to_user User.find_by_mail(m) %>
		</td>
		<td style="text-align: left">
			<%= mail_to(m, m, :encode => 'javascript') %>
		</td>
	</tr>
<% end %>
  </tbody>
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'email_groups', :plugin => 'redmine_fraternity_members' %>
<% end %>