<h1>Bank Transactions for <%= @statement_date %></h1>
<p>The following transactions occurred during <%= @statement_date %>. Please verify that all transactions are accounted for as Deposits and Expenses. For instructions on reporting Deposits and Expenses, go to <a href="https://ago.org/redmine/projects/chapters/wiki/Deposits_Expenses_and_Reimbursements" target="_blank">Deposits, Expenses, and Reimbursements</a> on the National Wiki.</p>
<p>For a complete bank statement, log on to <a href="https://chaseonline.chase.com" target="_blank">Chase Online Banking</a>.</p>
<table class="list">
  <thead>
    <th>
      Date
    </th>
    <th>
      Type
    </th>
    <th>
      Description
    </th>
    <th>
      Amount
    </th>
  </thead>
<% @transactions.each do |t| %>  
  <% text_color = 'color: green !important;' if t['Transaction Type'] == 'credit' %>
  <% text_color = 'color: red !important;' if t['Transaction Type'] == 'debit' %>
  <tr>
    <td>
      <%= t['Date'] %>
    </td>
    <td style='<%= text_color %>'>
      <%= t['Transaction Type'].capitalize %>
    </td>
    <td>
      <%= t['Original Description'] %>
    </td>
    <td style='<%= text_color %>'>
      <%= t['Amount'] %>
    </td>
  </tr>

<% end %>
</table>