<h2>Bank Transactions for <%= @statement_date %></h2>
<p>The following transactions occurred during <%= @statement_date %>. Please verify that all transactions are accounted for as Deposits or Expenses. For instructions on reporting Deposits and Expenses, go to <a href="https://ago.org/redmine/projects/chapters/wiki/Deposits_Expenses_and_Reimbursements" target="_blank">Deposits, Expenses, and Reimbursements</a> on the National Wiki.</p>
<p>These emails are sent on the 5th of every month to the Treasurer, President, and Chapter Advisor. You can also view transactions on the Budget tab of your chapter project. For a complete bank statement, log on to <a href="https://chaseonline.chase.com" target="_blank">Chase Online Banking</a>.</p>
<p>Deposits and Expenses should be reported within two days of the transaction.</p>
<table cellpadding="2" style='border-collapse: collapse; border: 1px solid black;'>
  <thead>
    <th style='border: 1px solid black;'>
      Date
    </th>
    <th style='border: 1px solid black;'>
      Type
    </th>
    <th style='border: 1px solid black;'>
      Description
    </th>
    <th style='border: 1px solid black;'>
      Amount
    </th>
  </thead>
<% @transactions.each do |t| %>
  <% text_color = 'green' if t['Transaction Type'] == 'credit' %>
  <% text_color = 'red' if t['Transaction Type'] == 'debit' %>
  <tr style='background-color: #<%= cycle("EEEEEE", "FFFFFF") %> !important; border: 1px solid black;'>
    <td style='border: 1px solid black;'>
      <%= t['Date'] %>
    </td>
    <td style='color: <%= text_color %> !important; border: 1px solid black;'>
      <%= t['Transaction Type'].capitalize %>
    </td>
    <td style = 'border: 1px solid black;'>
      <%= t['Original Description'] %>
    </td>
    <td style='color: <%= text_color %> !important; border: 1px solid black;'>
      <%= t['Amount'] %>
    </td>
  </tr>

<% end %>
</table>