<h1>Editing fraternity_member</h1>
 
<%= form_for :fraternity_member, :url => { :action => 'update', :id => @fraternity_member }, method: :patch do |f| %>

<table>
  <tr>
    <td><%= f.label 'First name:' %></td>
    <td><%= f.text_field :firstname %></td>
  </tr>
  
  <tr>
    <td><%= f.label 'Middle name:' %></td>
    <td><%= f.text_field :middlename %></td>
  </tr>
  
  <tr>
    <td><%= f.label 'Last name:' %></td>
    <td><%= f.text_field :lastname %></td>
  </tr>
  
  <tr>
    <td><%= f.label 'Email:' %></td>
    <td><%= f.text_field :mail %></td>
  </tr>
  
  <tr>
    <td><%= f.label 'Chapter:' %></td>
    <td><%= f.text_field :chapter %></td>
  </tr>
  
  <tr>
    <td><%= f.label 'Active number:' %></td>
    <td><%= f.text_field :active_number %></td>
  </tr>

  <tr>
    <td><%= f.label 'Pledge name:' %></td>
    <td><%= f.text_field :pledge_name %></td>
  </tr>
</table>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', fraternity_members_path %>
