<h2>All Members</h2>

<%= form_tag(directory_path, :method => :get) do %>
<fieldset>
<% chapters = [""] + FraternityMember.all.map(&:chapter).uniq.sort -%>

Chapter:
<%= select_tag('chapter', options_for_select(chapters, params[:chapter]), :onchange => params[:chapter]) %>

<label for='search'><%= 'Search' %>:</label>
<%= text_field_tag 'search', params[:search], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :search => nil %>
<%= " | " %>
<%= link_to "Export to CSV", :controller => 'fraternity_members', :action => 'export', :chapter => params[:chapter], :search => params[:search] %>
<%= " | " %>
<%= link_to "Export Google Contacts", :controller => 'fraternity_members', :action => 'export_google_contacts', :chapter => params[:chapter], :search => params[:search] %>
<%= " | " %>
<%= link_to l(:button_clear), directory_path, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<div class="autoscroll">
<table class="list">
  <thead><tr>
  <%= sort_header_tag('chapter', :caption => 'Chapter') %>
  <%= sort_header_tag('active_number', :caption => 'Active #') %>
  <%= sort_header_tag('lastname', :caption => 'Name') %>
  <%= sort_header_tag('pledge_name', :caption => 'Pledge Name') %>
  <%= sort_header_tag('mail', :caption => 'Email') %>
  <%= sort_header_tag('phone', :caption => 'Phone') %>
  <%= sort_header_tag('address', :caption => 'Zip Code') %>
  <th></th>
  </tr></thead>
  <tbody>
<% for f in @members -%>
  <tr class="<%= cycle("odd", "even") %>">
  	<td><%= h(f.chapter) %></td>
  	<td><%= h(f.active_number) %></td>
  	<td>
      <% uname = f.firstname.to_s + " " + f.lastname.to_s -%>
      <% if f.redmine_user_id.to_i > 0 -%>
        <% ulink = user_path(User.find(f.redmine_user_id.to_i)) -%>
        <%= link_to uname, ulink if f.redmine_user_id > 0 %>
      <% else -%>
        <%= uname %>
      <% end -%>
  	</td>
  	<td><%= h(f.pledge_name.to_s.truncate(18)) %></td>
  	<td><%= mail_to(h(f.mail)) %></td>
  	<td><%= h(f.phone) %></td>
  	<td><%= h(f.address) %></td>
    <td>
      <%= link_to 'Edit', edit_fraternity_member_path(f) %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>

<p class="pagination"><%= pagination_links_full @member_pages, @member_count, :per_page_links => false %></p>

