<% scope = @fraternity_members -%>
<% principal_count = scope.count -%>
<% principal_pages = Redmine::Pagination::Paginator.new principal_count, 100, params['page'] -%>

<h2>All Members (<%= principal_count %>)</h2>

<p>
<%= "Sort By:" %>
<%= link_to "Chapter", "/redmine/directory" %>
<%= " | " %>
<%= link_to "First Name", "/redmine/directory?sort=firstname" %>
<%= " | " %>
<%= link_to "Last Name", "/redmine/directory?sort=lastname" %>
<%= " | " %>
<%= link_to "Pledge Name", "/redmine/directory?sort=pledge_name" %>
<%= " | " %>
<%= link_to "Zip Code", "/redmine/directory?sort=zip" %>
</p>
<p>
<%= "Export To:" %>
<%= link_to "CSV", "/redmine/directory/export" %>
</p>

<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th><%= 'Chapter' %></th>
  <th><%= 'Active No' %></th>
  <th><%= 'Name' %></th>
  <th><%= 'Pledge Name' %></th>
  <th><%= 'Email' %></th>
  <th><%= 'Phone' %></th>
  <th><%= 'Zip Code' %></th>
  </tr></thead>
  <tbody>
<% for f in scope -%>
  <tr class="<%= cycle("odd", "even") %>">
  	<td><%= h(f.chapter) %></td>
  	<td><%= h(f.active_number) %></td>
  	<td>
      <% uname = f.firstname + " " + f.lastname -%>
      <% ulink = "/redmine/users/" + f.redmine_user_id.to_s -%>
      <% if f.redmine_user_id.to_i > 0 -%>
      <%= link_to uname, ulink if f.redmine_user_id > 0 %>
      <% else -%>
      <%= uname %>
      <% end -%>
  	</td>
  	<td><%= h(f.pledge_name.truncate(12)) %></td>
  	<td><%= mail_to(h(f.mail)) %></td>
  	<td><%= h(f.phone) %></td>
  	<td><%= h(f.address) %></td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>

<p class="pagination"><%= pagination_links_full principal_pages, principal_count, :per_page_links => false %></p>

