<h2>All Members</h2>

<p>
<%= "Sort By:" %>
<%= link_to "Chapter", "/redmine/directory" %>
<%= " | " %>
<%= link_to "First Name", "/redmine/directory?sort=firstname" %>
<%= " | " %>
<%= link_to "Last Name", "/redmine/directory?sort=lastname" %>
<%= " | " %>
<%= link_to "Pledge Name", "/redmine/directory?sort=pledge_name" %>
<%= " | " %>
<%= link_to "Zip Code", "/redmine/directory?sort=zip" %>
</p>

<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th><%= 'Chapter' %></th>
  <th><%= 'Active No' %></th>
  <th><%= 'Name' %></th>
  <th><%= 'Pledge Name' %></th>
  <th><%= 'Email' %></th>
  <th><%= 'Phone' %></th>
  <th><%= 'Zip Code' %></th>
  </tr></thead>
  <tbody>
<% for f in @fraternity_members -%>
  <tr>
  	<td><%= h(f.chapter) %></td>
  	<td><%= h(f.active_number) %></td>
  	<td>
      <% uname = f.firstname + " " + f.lastname -%>
      <% ulink = "/redmine/users/" + f.redmine_user_id.to_s -%>
      <% if f.redmine_user_id.to_i > 0 -%>
      <%= link_to uname, ulink if f.redmine_user_id > 0 %>
      <% else -%>
      <%= uname %>
      <% end -%>
  	</td>
  	<td><%= h(f.pledge_name.truncate(12)) %></td>
  	<td><%= mail_to(h(f.mail)) %></td>
  	<td><%= h(f.phone) %></td>
  	<td><%= h(f.address) %></td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>


