<h2>All Members</h2>

<p>
<%= "Sort By:" %>
<%= link_to "First Name", "/directory?sort=firstname" %>
<%= link_to "Last Name", "/directory?sort=lastname" %>
<%= link_to "Zip Code", "/directory?sort=zip" %>
</p>

<p><strong>
<%= "Chapter" %>
<%= "Active No." %>
<%= "First Name" %>
<%= "Last Name" %>
<%= "Pledge Name" %>
<%= "Email" %>
<%= "Phone" %>
<%= "Active?" %>
</strong></p>

<% @fraternity_members.each do |f| %>
<p>
<%= f.chapter %>
<%= f.active_number %>
<%= f.firstname %>
<%= f.lastname %>
<%= f.pledge_name %>
<a href=mailto:<%= f.mail%>><%= f.mail %></a>
<%= f.phone %>
<strong><%= f.active %></strong>
</p>
<% end %>