<%= render :partial => 'action_menu' %>

<% if @project.parent_id == 6 %>
<p>
  <table class="list" style="width: 300px !important;">
    <tr>
      <td>
        <strong>Chase Bank:</strong>
      </td>
      <td>
        <%= link_to 'View Recent Transactions', :controller => 'financials', :action => 'recent_transactions' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Account Balance:</strong>
      </td>
      <td>
        <strong><%= number_to_currency(@mint_value, :precision => 0) %></strong>
      </td>
    </tr>
  </table>
</p>
<% end %>


<%= form_tag({:controller => 'financials', :action => 'index'}, :method => :get) do %>
<fieldset>
Fiscal Year: <%= select_date(@FYStart, :discard_month => true) %>
<%= submit_tag l(:button_apply), :class => "small", :search => nil %>
</fieldset>
<% end %>

<% totalRevenue = [] %>
<% totalExpenses = [] %>

<p>
<h1>Actual Revenue</h1>

<% if !@annualRevenue.empty? -%>

<table class="budget">
  <thead><tr>
  <th>Account</th>
  <% for i in 0..11 -%>
    <th class="<%= 'budget_mobile' unless i == @currentRelativeMonth %>">

      <%= link_to @dateStrings[i], :controller => 'deposits', :action => 'index' %>

    </th>
  <% end -%>
  <th><center>Total</center></th>
  </tr></thead>
  <tbody>
<% for c in @annualRevenue -%>
  <tr class="<%= cycle("odd", "even") %>">

    <td>
      <%= link_to_project_deposit_issues_by_account(@project, c[0], c[1][13]) %>
    </td>

    <% for i in 0..12 -%>
      <td class="<%= 'budget_mobile' unless i == @currentRelativeMonth or i == 12 %>">
        <% if c[1][i].to_f > 0 %>
          <%= number_to_currency(c[1][i].to_f.round, :precision => 0, :format => '%n', negative_format: '(%n)') %>
        <% else %>
          -
        <% end %>
      </td>
      <% totalRevenue[i] = totalRevenue[i].to_f + c[1][i].to_f -%>
    <% end -%>
  </tr>
<% end -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td><strong>Total Revenue</strong></td>
      <% for i in 0..12 -%>
        <td class="<%= 'budget_mobile' unless i == @currentRelativeMonth or i == 12 %>">
          <strong><%= number_to_currency(totalRevenue[i].to_f.round, :precision => 0, :format => '%u%n', negative_format: '(%u%n)') %></strong>
        </td>
      <% end -%>
  </tr>
  </tbody>
</table>

<% else -%>
  No revenue reported for the selected Fiscal Year.
<% end -%>

<p>
<h1>Actual Expenses</h1>

<% if !@annualExpenses.empty? -%>

<table class="budget">
  <thead><tr>
  <th>Account</th>
  <% for i in 0..11 -%>
    <th class="<%= 'budget_mobile' unless i == @currentRelativeMonth %>">

      <%= link_to @dateStrings[i], project_issues_path(@project, :set_filter => 1,
        :f=>[:status_id, :tracker_id, :cf_28, ""],
        :op=>{:status_id=>"*", :tracker_id=>"=", :cf_28=>"><"},
        :v=>{:tracker_id=>["22"], :cf_28=>[@dates[i].beginning_of_month, @dates[i].end_of_month]},
        :c => [:project,:tracker,:cf_98,:cf_31,:cf_28,:cf_26,:status,:subject,:assigned_to]
        ) %>

    </th>
  <% end -%>
  <th><center>Total</center></th>
  </tr></thead>
  <tbody>
<% for c in @annualExpenses -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>

      <%= link_to c[0], project_issues_path(@project, :set_filter => 1,
      :tracker_id => 22,
      :status_id => '*',
      :cf_98 => c[0],
      :c => [:project,:tracker,:cf_98,:cf_31,:cf_28,:cf_26,:status,:subject,:assigned_to]
      ) %>

    </td>
    <% for i in 0..12 -%>
      <td class="<%= 'budget_mobile' unless i == @currentRelativeMonth or i == 12 %>">
        <% if c[1][i].to_f > 0 %>
          <%= number_to_currency(c[1][i].to_f.round, :precision => 0, :format => '%n', negative_format: '(%n)') %>
        <% else %>
          -
        <% end %>
      </td>
      <% totalExpenses[i] = totalExpenses[i].to_f + c[1][i].to_f -%>
    <% end -%>
  </tr>
<% end -%>
  <tr class="<%= cycle("odd", "even") %>">
  	<td><strong>Total Expenses</strong></td>
      <% for i in 0..12 -%>
        <td class="<%= 'budget_mobile' unless i == @currentRelativeMonth or i == 12 %>">
          <strong><%= number_to_currency(totalExpenses[i].to_f.round, :precision => 0, :format => '%u%n', negative_format: '(%u%n)') %></strong>
        </td>
      <% end -%>
  </tr>
  </tbody>
</table>
</p>

<p>
<h1>Net Cash Flow</h1>

<table class="budget">
  <thead><tr>
  <th></th>
  <% for i in 0..11 -%>
    <th class="<%= 'budget_mobile' unless i == @currentRelativeMonth %>"><%= @dateStrings[i] %></th>
  <% end -%>
  <th><center>Total</center></th>
  </tr></thead>
  <tbody>
  <tr class="<%= cycle("odd", "even") %>">
    <td>Net Cash Flow</td>
    <% for i in 0..12 -%>
      <td class="<%= 'budget_mobile' unless i == @currentRelativeMonth or i == 12 %>">
        <strong><%= number_to_currency((totalRevenue[i].to_f - totalExpenses[i].to_f).round, :precision => 0, :format => '%u%n', negative_format: '(%u%n)') %></strong>
      </td>
    <% end -%>
  </tr>
  </tbody>
</table>

<% else -%>
  No expenses reported for the selected Fiscal Year.
<% end -%>

</p>

<%= render :partial => 'action_menu' %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'redmine_fraternity_members' %>
<% end %>
